{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="task-box">
    <h2>Your tasks</h2>
    <form action="{{url_for('tasks.add_task')}}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="New task" required>
        <button type="submit" class="btn">Add</button>
    </form>
    {% if tasks %}

    <div class="progress-container"> <!-- 1 -->
        <div class="progress-bar"> <!-- 2 -->
            <div class="progress-fill" data-start="{{ last_progress }}" data-end="{{ progress }}">
                <p> {{ progress }}% completed</p>
            </div>
        </div>
    </div>

    <table class="task-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>
                    <span class="badge {{ task.status|lower}}">{{task.status}}</span>
                </td>
                <td>
                    <form action="{{url_for('tasks.toggle_status',task_id = task.id)}}" method="POST"
                        class="status-form">
                        <button type="submit" class="btn-small">Next</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="{{url_for('tasks.clear_tasks')}}" class="clear-form">
        <button type="submit" class="btn btn-clear">Clear all Tasks</button>
    </form>
    {% else %}
    <p>No tasks yet,Add one above!</p>
    {% endif %}
</div>
{% endblock %}